<ion-header>

  <ion-navbar>
    <ion-title>{{estabelecimento?.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content margin-bottom elastic-header *ngIf="estabelecimento">
  <ion-fab bottom right>
    <button icon-only ion-fab (click)="ligar()"><ion-icon name="call"></ion-icon></button>
  </ion-fab>
  <div class="header-image" [style.background-image]="'url('+photo+')'" ></div>
  <div class="main-content">
    <h5 class="titulo" no-margin-bottom>{{estabelecimento.nome}}</h5>
    <ion-grid class="info">
      <ion-row no-padding>
        <ion-col no-padding>
          <ion-icon name="pin"></ion-icon>&nbsp; {{estabelecimento.logradouro}} 
        </ion-col>
      </ion-row>
      <ion-row no-padding *ngIf="estabelecimento.telefonePrimario" class="border-bottom" (click)="ligar(estabelecimento.telefonePrimario)" >
        <ion-col no-padding>
          <ion-icon name="call"></ion-icon>&nbsp; {{estabelecimento.telefonePrimario}} 
        </ion-col>
      </ion-row>
    </ion-grid>

    <p *ngIf="!estabelecimento.descricao">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p class="descricao" *ngIf="estabelecimento.descricao">{{estabelecimento.descricao}}</p>
    <hr>
    <div class="horarioFuncionamento" >
      <span *ngIf="estabelecimento.horarioFuncionamento" >Horário de Funcionamento</span>
      <p>{{estabelecimento.horarioFuncionamento}}</p>
    </div>
    <ion-grid no-padding no-margin *ngIf="(estabelecimento.plano == '3' || estabelecimento.plano == '4') && ofertas?.length > 0" >
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <!--<button ion-button block clear (click)="abrirMapa()" >Localização</button>-->
          <button ion-button block clear (click)="abrirOfertas()" >Ver ofertas</button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <img-loader *ngIf="estabelecimento.imagemAdicional && !estabelecimento.imagemAdicional_2"  useImg (load)="onImageLoad($event)" [src]="estabelecimento.imagemAdicional" ></img-loader>
    <ion-slides pager loop [autoplay]="5000" *ngIf="estabelecimento.imagemAdicional && estabelecimento.imagemAdicional_2">
      <ion-slide>
        <img-loader  (click)="abrirFoto(estabelecimento.imagemAdicional)" useImg (load)="onImageLoad($event)" [src]="estabelecimento.imagemAdicional" ></img-loader>
      </ion-slide>
      <ion-slide>
        <img-loader (click)="abrirFoto(estabelecimento.imagemAdicional_2)" useImg (load)="onImageLoad($event)" [src]="estabelecimento.imagemAdicional_2" alt=""></img-loader>
      </ion-slide>
      
    </ion-slides>
  </div>
</ion-content>
