page-estabelecimento {
    .header-image {
        background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        background-size: cover;
        background-position: center;
        height: 50vw;
    }
    .descricao{
        font-size: 120%;
        text-align: justify;
    }
    .titulo{
        color: #00796b;
        margin-bottom: 0.3rem;
    }
    .divisor{
        margin-top: -15px;
        position: relative;
        left: -20px;
        width: 120%;
        border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: #00796b;
    }
    .main-content {
        padding: 0px 20px 5px 20px;
        background-color: white;    
        
        .imagem-adicional{
            width: 100%;
            height: 100%;
        }
        .telefones{
            line-height: 20px;
            font-size: 110%;
        }
    }
    .border-bottom{
        border-bottom-width: thin;
        border-bottom-style: outset;
        border-bottom-color: beige;
    }
    .info{
        font-size: 90%;
        color: gray;
    }
}
