page-estabelecimento-info {
    .card-header{
        color: #00796b;
        font-weight: bolder;
    }
    .border-top{
        border-top-width: thin;
        border-top-style: outset;
        border-top-color: beige;
    }
    ion-footer{
        height: 40vh;
    }
    agm-map {
        height: 100%;
    }
}
