<ion-header>
  <ion-navbar [hidden]="searchbarLigado">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tudo em Murici</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="mudaSearchbar()" ><ion-icon name="ios-search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [hidden]="!searchbarLigado"
    [(ngModel)]="myInput"
    [showCancelButton]="true"
    placeholder="Pesquise o item que deseja"
    (ionInput)="filtra($event)"
    (ionCancel)="mudaSearchbar($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="destaques.length > 1" style="max-height:200px; min-height: 100px" pager loop [autoplay]="3000" >
    <ion-slide *ngFor="let destaque of destaques" (click)="abrirEstabelecimento(destaque.estabelecimento)"  >
      <img [src]="destaque.estabelecimento.avatar"/>
    </ion-slide>
  </ion-slides>
  <img *ngIf="destaques.length == 1"  [src]="destaques[0].estabelecimento.avatar" style="max-height:200px; min-width: 100%" (click)="abrirEstabelecimento(destaques[0].estabelecimento)">
  <ion-list padding-top *ngIf="!searchbarLigado || myInput == ''">
    <ion-item *ngFor="let categoria of categorias" (click)="abrirCategoria(categoria)" >
      <ion-avatar item-start>
        <img [src]="categoria.icone? 'assets/icon/categorias/'+categoria.icone: 'assets/icon/no-photo.png'">
      </ion-avatar>
      <h2 class="titulo-item">{{categoria.nome}}</h2>
    </ion-item>
  </ion-list>

  <ion-list padding-top *ngIf="searchbarLigado && myInput != ''">
    <ion-item *ngFor="let estabelecimento of estabelecimentosFiltrados" >
        <ion-avatar item-start>
          <img [src]="estabelecimento.avatar? estabelecimento.avatar: 'assets/icon/no-photo.png'" (click)="abrirFoto(estabelecimento.avatar,'Marios Burgers')" />
        </ion-avatar>
        <h2 class="titulo-item" (click)="abrirEstabelecimento(estabelecimento)">{{estabelecimento.nome}}</h2>
        <p (click)="abrirEstabelecimento(estabelecimento)">{{estabelecimento.telefone}}</p>
        <button ion-button clear item-end (click)="more(estabelecimento)" ><ion-icon name="more"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
