<ion-menu [content]="content" (ionOpen)="toggleMenu(true)" (ionClose)="toggleMenu(false)" >
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!user">Menu</ion-title>
      <div *ngIf="user" >
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-5>
              <img class="profile-picture" *ngIf="user?.photoURL" alt="imagemCapa" [src]="user?.providerData[0].photoURL" (click)="goToPerfil()" />
              <img class="profile-picture" *ngIf="!user?.photoURL" alt="imagemCapa" src="assets/img/no-photo.jpg" (click)="goToPerfil()" />
            </ion-col>
            <ion-col>
              <ion-title>{{user? user.displayName: 'Tudo em Murici'}}</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="!user" >
      <h5 color="primary" text-center>Faça o login para aproveitar todas as promoções!</h5>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <button ion-button menuClose (click)="login()" class="facebook-button" color="fb-color" full ><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Login com Facebook</button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <hr>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>{{p.title}}
      </button>
      <button class="item-menu" ion-item menuClose clear (click)="logout()" *ngIf="user" >
        <ion-icon item-left name="log-out"></ion-icon>Sair
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>